.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.fa:hover {
    color: red;
    width: 20px;
    height: 20px;
}

.list-group-item:hover {
    background-color: #efe9e9;
}

.checkpercent {
    display: flex;
}

.btn-default:hover {
    background-color: deepskyblue;
}

.inputTask{
    margin-Left: 0px;
    padding-Left: 0px
}

.none{
    display: none;
}
.block{
    display: block;
}
.btn-controll{
    width: 150px;
    height: auto;
    margin: 0px 20px 0px 0px;
}
.percentBar{
    color: white;
    background-Color: chartreuse;
    width: 40px;
    height:40px;
    border-Radius: 100%;
    text-Align: center;
    padding-Top: 5px
}
.btn-undo{
    width: 150px;
    height: auto;
    margin-Left: 50%;
    margin-Top: 80px;
    display: none
}